.quad{
    max-width:100% ;
    border-radius: 2%;
    background-color: rgba(158, 19, 153, 0.411);
    z-index: 1;
    float: left;

}
.bot{
    z-index: 2;
    float:left ;
    background-color:rgba(255, 172, 227, 0.514);
    
}